@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
  }
  .hero-paragraph {
    width: 55%;
  }
  .stores .text-elements-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .stores .text-elements-group .section-paragraph {
    width: 65%;
  }
  .conversation {
    margin: 90px 0 90px -130px;
  }
  .references {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
  }
  .references .companys-ref {
    display: flex;
    flex-direction: column;
  }
  .references .supports-ref {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .burger-menu {
    display: none;
  }
  .navigation {
    display: flex;
  }

  .hero-half-girl {
    display: none;
  }
  .hero-all-girl {
    display: flex;
  }
  .stores {
    display: flex;
    align-items: center;
  }
  .stores .text-elements-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
  }
  .services-cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .services-cards-wrapper .card:nth-child(3) {
    display: grid;
  }
  .conversation {
    margin: 90px 0 90px 45px;
  }
  .conversation-image img {
    width: 347px;
    height: 310px;
  }
  .conversation .text-elements-group .section-paragraph {
    width: 50%;
  }
  .arrows {
    display: flex;
  }
  .footer-wrapper {
    gap: 30px;
    width: calc(960px - 30px);
    display: flex;
    flex-direction: row;
  }
  .socials-column {
    width: calc((100% - 20px) / 4);
  }
  .social-icons-list {
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .btn {
    font-size: 16px;
    line-height: 21px;
  }
  .hero .text-elements-group {
    width: 50%;
  }
  .conversation-image {
    width: 563px;
    height: 545px;
  }
  .hero-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .hero-paragraph {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 40px;
    width: 80%;
  }
  .section-smaller-title {
    font-size: 24px;
    line-height: 33px;
  }
  .section-bigger-title {
    font-size: 41px;
    line-height: 45px;
  }
  .section-paragraph {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 40px;
  }
  .card-content .card-icon {
    width: 48px;
  }
  .card-title {
    font-size: 24px;
    line-height: 28px;
  }
  .card-paragraph {
    font-size: 13px;
    line-height: 17px;
    width: 50%;
  }
  .client-card-content .card-top-side .card-title {
    font-size: 16px;
    line-height: 19px;
  }
  .client-description {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: 1400px) {
}
