.header {
  padding-right: 32px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.navigation nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  margin-right: 24px;
  color: #333333;
}

.burger-menu .bigger-burger-menu {
  display: none;
}

.smaller-btn {
  padding: 10px 15px;
  content: none;
  line-height: 20px;
  letter-spacing: 2px;
}

.smaller-btn::before {
  content: none;
}
