.cards-wrapper {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 42px;
}

.card-content {
  padding: 22px;
}

.card-content:hover {
  transition: 0.3s;
  background: #ffffff;
  box-shadow: 0px 3.16301px 16.8694px rgba(155, 148, 148, 0.17);
  border-radius: 4px;
  box-shadow: 0 10px 18px 0px rgba(0, 0, 0, 0.3);
}
